html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin:0;  
    background: url(../img/bg2.jpg) center center/cover;  
    overflow: hidden;
}
/*-----------------header--------------------------*/
.header{
    width: 100vw;
    height:120px;
    box-sizing: border-box;
    padding: 5px 80px;
    top:0;
    position: fixed;
}
.footer{
    width: 100vw;
    height: auto;
    box-sizing: border-box;
    bottom: 0;
    position: fixed;
    background: rgba(0,106,184,0.8);
    text-align: center;
    font-size: 12px;
    line-height: 1;
    color:#eee;
}
.footer p{
    padding-left:0;
    padding-right: 0;
}